.navContainer {
  width: 80vw;
  /* background: #d4c9c9; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 80px;
}

.navContainer img{
    height: 25px;
}

.navLeft {
  display: flex;
  /* background: #011; */
  width: 40vw;
  justify-content: space-between;
}

.navLeft a {
  font-size: 17px;
  letter-spacing: 0.7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #438fde;
}
